

.ua-gallery-grid {
  --mdc-layout-grid-gutter-desktop: 0;
  padding: 0;

  &__cell {
    @include mdc-layout-grid-cell(desktop, 4, 0);
  }
}

.ua-content-grid {
  --mdc-layout-grid-margin-desktop: 150px 50px;
  // --mdc-layout-grid-gutter-desktop: 90px;
  max-width: 75rem;

  &__layout-section {
    &--primary {
      background: $mdc-theme-primary;
    }
  
    &--primary-variant {
      background: $mdc-theme-primary-variant;
    }
  
    &--secondary {
      background: $mdc-theme-secondary;
    }
  
    &--primary,
    &--primary-variant,
    &--secondary {
      --mdc-theme-text-primary-on-background: white;
      --mdc-theme-text-secondary-on-background: white;
      --mdc-theme-text-icon-on-background: white;
      color: var(--mdc-theme-text-primary-on-background);
  
      .mdc-list-divider {
        border-bottom-color: rgba(white, 0.5);
      }
    }
  }
}

.is-centered-column {
  // grid-column-start: 4;
  text-align: center;
}


