body {
  .material-icons {
    font-family: 'Material Icons' !important;
  }
}

.demo-grid {
  --mdc-layout-grid-gutter-desktop: 0;
  padding: 0;
}

.demo-cell {
  @include mdc-layout-grid-cell(desktop, 4, 0);
}

.content-grid {
  --mdc-layout-grid-margin-desktop: 150px 0;
  max-width: 75rem;
}

.content-grid__layout-section {
  &--primary {
    background: $mdc-theme-primary;
  }

  &--secondary {
    background: $mdc-theme-secondary;
  }
}
