// Demo card
// ================================

.ua-gallery-card {
  @include mdc-elevation(0);

  .has-text-over-media & {
      
    &__secondary {
      padding-top: 1rem;
    }

    &__media {
      @include mdc-card-media-aspect-ratio(4, 3);
    }

    &__media-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: end;
          align-items: flex-end;
      background: rgba(0,0,0,.5);
      padding-bottom: 4rem;
    }

    &__title,
    &__subtitle {
      color: white;
    }

    &__primary {
      padding: 1rem;
    }
    
    &__title {
      margin: 0;
    }
  }
}

//  Image list
.ua-social-image-list {
  // $mdc-image-list-masonry-gutter-size: 0;
  // @include mdc-image-list-standard-columns(5);
  @include mdc-image-list-masonry-columns(3);
}

// Buttons
.ua-button--secondary {
  @include mdc-button-container-fill-color(secondary);
}

// Used in slider
.ua-button-outlined--inverse {
  @include mdc-button-outline-color(white);
  @include mdc-button-ink-color(white);
}





// List from original to remind me about conditional theme stuff
.mdc-list {
  // border: 1px solid rgba(0,0,0,.1);
  // background: $mdc-theme-background;

  // .mdc-list-item__graphic {
  //   background-color: if(mdc-theme-contrast-tone($mdc-theme-background) == "dark",
  //     rgba(0, 0, 0, 0.12),
  //     rgba(255, 255, 255, 0.12));
  //   color: if(mdc-theme-contrast-tone($mdc-theme-background) == "dark",
  //     rgba(0, 0, 0, 0.68),
  //     rgba(255, 255, 255, 0.68));
  // }
}


// Override SG conflicts
// ================================
body {
  .material-icons {
    font-family: 'Material Icons' !important;
  }
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
}

.mdc-text-field__input {
  display: inherit;
  margin: inherit;
}

.mdc-select__native-control {
  background-image: inherit;
}
