<p class="c-back-top js-back-top">
    <a href="#ua-top" title="back to top" class="c-btn js-smooth-scroll"><i class="fa fa-angle-up"></i> top</a>
  </p>


  <script src="//global.adelaide.edu.au/style-guide-v2/0.37.0/js/vendor/jquery.min.js"></script>
  {{!-- <script src="//global.adelaide.edu.au/style-guide-v2/0.37.0/js/header-footer.js"></script> --}}



  {{!-- <script src="//global.adelaide.edu.au/style-guide-v2/latest/js/plugins/global-assets-loader.js"></script>
  <script>
      var _globalassets = new GlobalAssetsLoader({
        "quicklinks": {
          "path": "//global.adelaide.edu.au/v/style-guide2/includes/common/static-quicklinks-menu.html",
          "selector": "ua-header-quicklinks"
        },
        "search": {
          "path": "//global.adelaide.edu.au/v/style-guide2/includes/common/static-search.html",
          "selector": "ua-search"
        },
        "megamenu": {
          "path": "//global.adelaide.edu.au/v/style-guide2/includes/common/static-mega-menu.html",
          "selector": "ua-mega-menu"
        },
        "footer": {
          "path": "//global.adelaide.edu.au/v/style-guide2/includes/common/static-global-footer.html",
          "selector": "ua-footer"
        }
      });
  </script> --}}

  <script src="dist/bundle.js" async></script>