<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Header footer template.">
  <link rel="icon" href="assets/img/icons/apple-touch-icon-144-precomposed.png" type="image/x-icon">
  <title>Header footer | University of Adelaide Style guide</title>

  <!--[if gt IE 8]><!-->
  {{!-- <link href="//global.adelaide.edu.au/style-guide-v2/0.37.1/css/header-footer.css" rel="stylesheet"> --}}
  <link href="ua-dep/css/app.css" rel="stylesheet">
  <link href="//global.adelaide.edu.au/style-guide-v2/latest/css/global-assets.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="dist/bundle.css">
  <!--<![endif]-->

</head>
