<header class="o-layout__header" id="ua-top" role="banner">
    <div class="c-header__title-bar">
        <div class="c-header__title-bar-left">
        <a href="/" class="c-header__logo--mobile">
            <img alt="University of Adelaide homepage" src="//global.adelaide.edu.au/style-guide-v2/0.37.1/img/ua-logo.png">
        </a>
        </div>
        <div class="c-header__title-bar-right">
        <a href="#0" class="c-header__title-bar-icon" data-toggle="ua-search"><i class="fa fa-search"></i></a>
        <a href="#0" class="c-header__title-bar-icon" data-toggle="ua-header-menu"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>
    
    <div class="c-header" id="ua-header-menu">
    
        <div class="c-header__topbar-first">
        <div class="c-header__container">
            <a href="/" class="c-header__logo">
            <img alt="University of Adelaide homepage" src="//global.adelaide.edu.au/style-guide-v2/0.37.1/img/ua-logo.png">
            </a>
            <div class="c-header__column">
            <div id="ua-header-quicklinks">
                <nav>
                <ul class="c-header-quicklinks">
                    <li><a href="#0">Current Students</a></li>
                    <li><a href="#0">Staff</a></li>
                    <li><a href="#0">Alumni</a></li>
                    <li><a href="#0">Quicklinks</a></li>
                    <li class="c-header__search"><a href="#"><i class="fa fa-search"></i></a></li>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        </div>
    
        <div class="c-header__topbar-second">
        <div class="c-header__container">
            <div class="c-header__column">
            <div id="ua-mega-menu">
                <nav>
                <ul class="c-mega-menu">
                    <li class="c-mega-menu__item is-dropdown-submenu-parent"><a href="#0">Study at Adelaide</a></li>
                    <li class="c-mega-menu__item is-dropdown-submenu-parent"><a href="#0">Research &amp; Innovation</a></li>
                    <li class="c-mega-menu__item is-dropdown-submenu-parent"><a href="#0">Engage</a></li>
                    <li class="c-mega-menu__item is-dropdown-submenu-parent"><a href="#0">About the Uni</a></li>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        </div>
    
        <button class="c-header__close-button" data-close aria-label="Close reveal" type="button">
        Menu
        <span aria-hidden="true">&times;</span>
        </button>
    
    </div> <!-- #ua-header-menu -->
    </header>