<div class="o-layout__slider-container">
    <div class="o-layout__slider">
    <div class="c-minimal-banner" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');"></div>
    </div>
    <div class="o-layout__page-title">
    <div class="o-layout__container">
        <div class="c-page-title">
        
        <div class="c-page-title__left">
            <p class="c-page-title__heading is-small"><a href="static.html">University of adelaide style guide V2 static site</a></p>
        </div>
        
        <div class="c-page-title__right">
        
            <div class="c-page-title__title-bar" data-hide-for="large">
            <div class="c-page-title__title-bar-right">
                <button class="c-page-title__title-bar-menu-icon" type="button" data-toggle="ua-site-menu"><i class="ua-hamburger-icon"></i></button>
            </div>
            </div>
        
        </div>
        
        </div>
    </div>
    </div>
    </div>
