<!-- IMAGE AND TEXT SLIDE -->
<li data-transition="fade" data-slideindex="front">
    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
    <img src="//styleguide-v2.adelaide.edu.au/assets/img/dummy.png"  alt="" 
      {{!-- data-lazyload="//styleguide-v2.adelaide.edu.au/assets/img/notgeneric_bg3.jpg"  --}}
      data-bgposition="center bottom" 
      data-bgfit="cover" 
      data-bgrepeat="no-repeat" 
      data-bgparallax="15"
      class="rev-slidebg" data-no-retina>
    <!-- TEXT LAYER -->
    <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
      data-x="center" 
      data-y="center" 
      data-hoffset="30" 
      data-voffset="-80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="font-size:80px;line-height:85px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
      >Seize the Open Day</div>
      <!-- TEXT LAYER -->
    <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
      data-x="center" 
      data-y="center" 
      data-hoffset="30" 
      data-voffset="0" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="font-size:36px;line-height:40px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
      >Sunday 18 August 2019</div>
    <!-- BUTTON LAYERS -->
      <a href="#timetable" target="_self" class="tp-caption tp-resizeme mdc-button mdc-button--outlined demo-button-outlined-inverse rs-parallaxlevel-8 js-smooth-scroll"
      {{!-- <div class="tp-caption tp-resizeme mdc-button mdc-button--outlined demo-button-outlined-inverse rs-parallaxlevel-8" --}}
      data-x="center" 
      data-y="center" 
      data-hoffset="-250" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="display: static;"
      >Timetable</a>
      <a href="#plan" target="_self" class="tp-caption tp-resizeme mdc-button mdc-button--outlined demo-button-outlined-inverse rs-parallaxlevel-8 js-smooth-scroll"
      data-x="center" 
      data-y="center" 
      data-hoffset="-100" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="display: static;"
      >Plan your day</a>
      <a href="#social" target="_self" class="tp-caption tp-resizeme mdc-button mdc-button--outlined demo-button-outlined-inverse rs-parallaxlevel-8 js-smooth-scroll"
      data-x="center" 
      data-y="center" 
      data-hoffset="80" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="display: static;"
      >Get Social to Win</a>
      <a href="#download" target="_self" class="tp-caption tp-resizeme mdc-button mdc-button--outlined demo-button-outlined-inverse rs-parallaxlevel-8 js-smooth-scroll"
      data-x="center" 
      data-y="center" 
      data-hoffset="290" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="display: static;"
      >Download Brochure</a>

      {{#unless standard-slider}}
      {{> slider-scrollbelow}}
      {{/unless}}
  </li>
  