<div class="o-layout__slider-container">
    <div class="o-layout__slider">
    {{!--     <div class="c-minimal-banner"
            style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');"></div>
    </div>
    <div class="o-layout__page-title">
        <div class="o-layout__container">
            <div class="c-page-title">

                <div class="c-page-title__left">
                    <p class="c-page-title__heading is-small"><a href="static.html">University of adelaide style guide
                            V2 static site</a></p>
                </div>

                <div class="c-page-title__right">

                    <div class="c-page-title__title-bar" data-hide-for="large">
                        <div class="c-page-title__title-bar-right">
                            <button class="c-page-title__title-bar-menu-icon" type="button"
                                data-toggle="ua-site-menu"><i class="ua-hamburger-icon"></i></button>
                        </div>
                    </div>

                </div>

            </div>
        </div>--}}
    


        {{!-- <div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="nice-and-clean-header" data-source="gallery" style="background-color:#2d3032;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
        <ul>	<!-- SLIDE  -->
            <li data-index="rs-418" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="3000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="https://asmithdigital.github.io/my-fancy-slider/assets/images/Busy-People.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- BACKGROUND VIDEO LAYER -->
                <div class="rs-background-video-layer" 
                    data-forcerewind="on" 
                    data-volume="mute" 
                    data-videowidth="100%" 
                    data-videoheight="100%" 
                    data-videomp4="https://asmithdigital.github.io/my-fancy-slider/assets/videos/Busy-People.mp4" 
                    data-videopreload="auto" 
                    data-videoloop="loop" 
                    data-forceCover="1" 
                    data-aspectratio="16:9" 
                    data-autoplay="true" 
                    data-autoplayonlyfirsttime="false" 
        ></div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper " 
                    id="slide-418-layer-7" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="full"
                    data-height="full"
                    data-whitespace="nowrap"
        
                    data-type="shape" 
                    data-basealign="slide" 
                    data-responsive_offset="off" 
                    data-responsive="off"
                    data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['inherit','inherit','inherit','inherit']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 5;font-family:Open Sans;background-color:rgba(45, 48, 50, 0.25);"> </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption   rs-parallaxlevel-4" 
                    id="slide-418-layer-1" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-70','-60']" 
                                data-fontsize="['90','80','70','50']"
                    data-lineheight="['90','80','70','50']"
                    data-fontweight="['500','600','600','600']"
                    data-width="['1001','none','400','320']"
                    data-height="none"
                    data-whitespace="['normal','nowrap','normal','normal']"
        
                    data-type="text" 
                    data-responsive_offset="off" 
                    data-responsive="off"
                    data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0px;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"nothing"}]'
                    data-textAlign="['center','left','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 6; min-width: 1001px; max-width: 1001px; white-space: normal; font-size: 90px; line-height: 90px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Poppins;">Hello slider </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption   rs-parallaxlevel-4" 
                    id="slide-418-layer-2" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['20','20','30','20']" 
                                data-fontsize="['25','25','20','17']"
                    data-lineheight="['30','30','25','25']"
                    data-width="['none','none','480','320']"
                    data-height="none"
                    data-whitespace="['nowrap','nowrap','normal','normal']"
        
                    data-type="text" 
                    data-responsive_offset="off" 
                    data-responsive="off"
                    data-frames='[{"delay":800,"speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"nothing"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 7; white-space: nowrap; font-size: 25px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 0.65);font-family:Poppins;">the future. </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-svg-layer" 
                    id="slide-418-layer-4" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['79','40','40','40']" 
                                data-width="50"
                    data-height="50"
                    data-whitespace="nowrap"
        
                    data-type="svg" 
                    data-actions='[{"event":"click","action":"scrollbelow","offset":"-90px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                    data-svg_src="https://asmithdigital.github.io/my-fancy-slider/assets/images/ic_keyboard_arrow_down_24px.svg" 
                    data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;" 
                    data-svg_hover="sc:transparent;sw:0;sda:0;sdo:0;" 
                    data-basealign="slide" 
                    data-responsive_offset="off" 
                    data-responsive="off"
                    data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"150","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[7,7,7,7]"
                    data-paddingright="[5,5,5,5]"
                    data-paddingbottom="[5,5,5,5]"
                    data-paddingleft="[5,5,5,5]"

                    style="z-index: 8; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; color: rgba(255, 255, 255, 0.65);font-family:Open Sans;border-color:rgba(255, 255, 255, 0.65);border-style:solid;border-width:2px 2px 2px 2px;border-radius:40px 40px 40px 40px;cursor:pointer;"> </div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
        </div><!-- END REVOLUTION SLIDER --> --}}

        <div id="rev_slider_1069_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="restaurant-header" data-source="gallery" style="background-color:#222222;padding:0px;">
<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
    <div id="rev_slider_1069_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
<ul>    <!-- SLIDE  -->
    <li data-index="rs-3015" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="default" data-masterspeed="2000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        {{!-- <img src="https://asmithdigital.github.io/my-fancy-slider/assets/images/drinkwinecover.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="3" class="rev-slidebg" data-no-retina> --}}
        <img src="../../assets/images/transparent.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

<!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme fullscreenvideo rs-parallaxlevel-5 tp-videolayer" 
             id="slide-2968-layer-1" 
             data-x="0" 
             data-y="0" 
                        data-whitespace="nowrap"
 
            data-type="video" 
            data-responsive_offset="on" 

            data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
 data-ytid="nHXVc_cQqyI" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;volume=100&hd=1&wmode=opaque&showinfo=0&rel=0;&start=08" data-videorate="1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9"           data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-autoplay="true" 
            data-nextslideatend="true" 
            data-videoposter="http://img.youtube.com/vi/LXb3EKWsInQ/maxresdefault.jpg" 
            data-noposteronmobile="on" 
            data-volume="100"           data-allowfullscreenvideo="true" 
 data-videostartat="0:08"
            style="z-index: 5;text-transform:left;border-width:0px;"> </div>

        <!-- BACKGROUND VIDEO LAYER -->
        {{!-- <div class="rs-background-video-layer" 
            data-forcerewind="on" 
            data-volume="mute" 
            data-videowidth="100%" 
            data-videoheight="100%" 
            data-videomp4="https://asmithdigital.github.io/my-fancy-slider/assets/videos/Drink-Wine.mp4" 
            data-videopreload="auto" 
            data-videoloop="loopandnoslidestop" 
            data-aspectratio="16:9" 
            data-autoplay="true" 
            data-autoplayonlyfirsttime="false" 
></div> --}}
        <!-- LAYER NR. 1 -->
        <div class="tp-caption  " 
             id="slide-3015-layer-14" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-width="full-proportional"
            data-height="full-proportional"
            data-whitespace="nowrap"
 
            data-type="image" 
            data-basealign="slide" 
            data-responsive_offset="off" 
            data-responsive="off"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":800,"to":"sX:1.1;sY:1.1;opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset"
            style="z-index: 5;text-transform:left;border-width:0px;cursor:pointer;"><img src="https://asmithdigital.github.io/my-fancy-slider/assets/images/themenu.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" width="1920" height="1282" data-no-retina> </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption  " 
             id="slide-3015-layer-13" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-width="full-proportional"
            data-height="full-proportional"
            data-whitespace="nowrap"
 
            data-type="image" 
            data-basealign="slide" 
            data-responsive_offset="off" 
            data-responsive="off"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":800,"to":"sX:1.1;sY:1.1;opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset"
            style="z-index: 6;text-transform:left;border-width:0px;cursor:pointer;"><img src="https://asmithdigital.github.io/my-fancy-slider/assets/images/atable.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" width="1920" height="1280" data-no-retina> </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption tp-shape tp-shapewrapper " 
             id="slide-3015-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-width="full"
            data-height="full"
            data-whitespace="nowrap"
 
            data-type="shape" 
            data-basealign="slide" 
            data-responsive_offset="off" 
            data-responsive="off"
            data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;text-transform:left;background-color:rgba(51, 51, 51, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

        <!-- LAYER NR. 4 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
             id="slide-3015-layer-6" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['-86','-86','-86','-86']" 
                        data-width="100"
            data-height="2"
            data-whitespace="nowrap"
 
            data-type="shape" 
            data-responsive_offset="on" 

            data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8;text-transform:left;background-color:rgba(255, 255, 255, 0.25);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

        <!-- LAYER NR. 5 -->
        <div class="tp-caption Dining-Title   tp-resizeme" 
             id="slide-3015-layer-7" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['-158','-158','-158','-158']" 
                        data-width="none"
            data-height="none"
            data-whitespace="nowrap"
 
            data-type="text" 
            data-responsive_offset="on" 

            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9; white-space: nowrap; font-size: 100px; line-height: 100px;text-transform:left;"><i class="pe-7s-wine"></i> </div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption Dining-Title   tp-resizeme" 
             id="slide-3015-layer-2" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['-28','-28','-37','-28']" 
                        data-fontsize="['70','70','50','30']"
            data-lineheight="['70','70','50','30']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
 
            data-type="text" 
            data-responsive_offset="on" 

            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; white-space: nowrap;text-transform:left;">FINE DINING </div>

        <!-- LAYER NR. 7 -->
        <div class="tp-caption Dining-SubTitle   tp-resizeme" 
             id="slide-3015-layer-4" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['27','27','28','30']" 
                        data-lineheight="['20','20','30','30']"
            data-width="['none','none','480','360']"
            data-height="none"
            data-whitespace="['nowrap','nowrap','normal','normal']"
 
            data-type="text" 
            data-responsive_offset="on" 

            data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; white-space: nowrap; color: rgba(255, 255, 255, 0.50);text-transform:left;font-style:italic;">The concept of a traditional restaurant reimagined in a modern way. </div>

        <!-- LAYER NR. 8 -->
        <div class="tp-caption Dining-BtnLight rev-btn  rs-parallaxlevel-2" 
             id="slide-3015-layer-8" 
             data-x="['center','center','center','center']" data-hoffset="['-150','-150','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']" 
                        data-width="none"
            data-height="none"
            data-whitespace="nowrap"
 
            data-type="button" 
            data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3015-layer-14","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3015-layer-14","delay":""}]'
            data-responsive_offset="off" 
            data-responsive="off"
            data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[17,17,17,17]"
            data-paddingright="[73,73,73,73]"
            data-paddingbottom="[17,17,17,17]"
            data-paddingleft="[50,50,50,50]"

            style="z-index: 12; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="pe-7s-note2" style="font-size:25px; float: left; margin-top:-6px; margin-right: 10px"></i> SEE OUR MENU </div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption Dining-BtnLight rev-btn  rs-parallaxlevel-2" 
             id="slide-3015-layer-9" 
             data-x="['center','center','center','center']" data-hoffset="['150','150','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['120','120','180','180']" 
                        data-width="none"
            data-height="none"
            data-whitespace="nowrap"
 
            data-type="button" 
            data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3015-layer-13","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3015-layer-13","delay":""}]'
            data-responsive_offset="off" 
            data-responsive="off"
            data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[17,17,17,17]"
            data-paddingright="[79,79,79,79]"
            data-paddingbottom="[17,17,17,17]"
            data-paddingleft="[50,50,50,50]"

            style="z-index: 13; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="pe-7s-date" style="font-size:25px; float: left; margin-top:-6px; margin-right: 10px;"></i> RESERVE TABLE </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption Dining-Social   tp-resizeme" 
             id="slide-3015-layer-10" 
             data-x="['center','center','center','center']" data-hoffset="['-60','-60','-60','-60']" 
             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']" 
                        data-width="50"
            data-height="50"
            data-whitespace="normal"
 
            data-type="text" 
            data-basealign="slide" 
            data-responsive_offset="on" 

            data-frames='[{"from":"y:50px;rZ:60deg;opacity:0;","speed":1500,"to":"o:1;","delay":4000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"400","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:360;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 14; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: normal;text-transform:left;cursor:pointer;"><i class="fa-icon-facebook"></i> </div>

        <!-- LAYER NR. 11 -->
        <div class="tp-caption Dining-Social   tp-resizeme" 
             id="slide-3015-layer-11" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['29','29','29','29']" 
                        data-width="50"
            data-height="50"
            data-whitespace="normal"
 
            data-type="text" 
            data-basealign="slide" 
            data-responsive_offset="on" 

            data-frames='[{"from":"y:50px;rZ:60deg;opacity:0;","speed":1500,"to":"o:1;","delay":4250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"400","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:360;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 15; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: normal;text-transform:left;cursor:pointer;"><i class="fa-icon-twitter"></i> </div>

        <!-- LAYER NR. 12 -->
        <div class="tp-caption Dining-Social   tp-resizeme" 
             id="slide-3015-layer-12" 
             data-x="['center','center','center','center']" data-hoffset="['60','60','60','60']" 
             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['29','29','29','29']" 
                        data-width="50"
            data-height="50"
            data-whitespace="normal"
 
            data-type="text" 
            data-basealign="slide" 
            data-responsive_offset="on" 

            data-frames='[{"from":"y:50px;rZ:60deg;opacity:0;","speed":1500,"to":"o:1;","delay":4500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"400","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:360;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 16; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: normal;text-transform:left;cursor:pointer;"><i class="fa-icon-instagram"></i> </div>
    </li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div><!-- END REVOLUTION SLIDER -->

    </div> 
</div>