$mdc-theme-primary: #005a9c;
$mdc-theme-secondary: #d40000;

$crane-primary-color: $mdc-theme-primary;
$crane-header-breakpoint: 54rem;
$crane-main-max-width: 50rem;
$crane-main-padding: 32px;
$crane-row-breakpoint: 35rem;
$crane-row-margin: 24px;

