{{> head}}

  <body>
  <a href="#ua-main-content" class="c-skip-to-content">Skip to main content</a>

  <div class="o-off-canvas__wrapper">

    <div id="ua-search"></div>

    <div class="o-off-canvas__content" data-off-canvas-content>

      {{> header}}

      <main class="o-layout__main">
        {{> slider}}

        <div class="o-layout__container">
          {{> body}}
        </div>

      </main>


      {{> local-footer}}

    </div>

  </div>

  <p class="c-back-top js-back-top">
    <a href="#ua-top" title="back to top" class="c-btn js-smooth-scroll"><i class="fa fa-angle-up"></i> top</a>
  </p>

  {{> footer}}

  </body>
</html>
