<div id="rev_slider_158_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="nice-and-clean-services" data-source="gallery" style="margin:0px auto;background-color:#2d3032;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
      <div id="rev_slider_services" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
    <ul>	<!-- SLIDE  -->
      <li data-index="rs-420" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="//asmithdigital.github.io/my-fancy-slider/assets/images/transparent.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
    
        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme   rev_group" 
           id="slide-420-layer-12" 
           data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                data-width="['#1/3#','#1/3#','#1/1#','#1/1#']"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="group" 
          data-basealign="slide" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":300,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;fb:10px;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 5; min-width: #1/3#px; max-width: #1/3#px; max-width: 360px; max-width: 360px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">
        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme  disabled_lc tp-videolayer" 
           id="slide-420-layer-13" 
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-whitespace="nowrap"
     
          data-type="video" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-videocontrols="none" data-videowidth="100%" data-videoheight="360px" data-videoposter="//asmithdigital.github.io/my-fancy-slider/assets/images/vid1.jpg" data-videomp4="//asmithdigital.github.io/my-fancy-slider/assets/videos/vid1.mp4" data-noposteronmobile="off" data-videopreload="auto" data-videoloop="loop"			data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          data-autoplay="off" 
    
          style="z-index: 6;"> </div>
    
        <!-- LAYER NR. 3 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
           id="slide-420-layer-14" 
           data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                data-width="100%"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="shape" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":600,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":600,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          data-lasttriggerstate="reset"
          style="z-index: 7;font-family:Open Sans;background-color:rgba(45, 48, 50, 0.65);cursor:pointer;"> </div>
    
        <!-- LAYER NR. 4 -->
        <div class="tp-caption  " 
           id="slide-420-layer-9" 
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-width="['300','250','480','320']"
          data-height="none"
          data-whitespace="normal"
     
          data-type="text" 
          data-basealign="slide" 
          data-responsive_offset="off" 
          data-responsive="off"
          data-frames='[{"delay":"+0","speed":600,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['center','center','center','center']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 8; min-width: 300px; max-width: 300px; white-space: normal; font-size: 30px; line-height: 30px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Poppins;cursor:pointer;">Efficient Work<br/><span style="font-size:17px;opacity:0.65;font-weight:400;">delivered by Slider Revolution</span> </div>
    
        <!-- LAYER NR. 5 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
           id="slide-420-layer-15" 
           data-x="['left','left','left','left']" data-hoffset="['-1','-1','-1','-1']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                data-width="100%"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="shape" 
          data-actions='[{"event":"mouseenter","action":"playvideo","layer":"slide-420-layer-13","delay":""},{"event":"mouseleave","action":"stopvideo","layer":"slide-420-layer-13","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slide-420-layer-14","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slide-420-layer-14","delay":""}]'
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 9;font-family:Open Sans;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 0);cursor:pointer;"> </div>
        </div>
    
        <!-- LAYER NR. 6 -->
        <div class="tp-caption   tp-resizeme   rev_group" 
           id="slide-420-layer-16" 
           data-x="['center','center','left','left']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','360','360']" 
                data-width="['#1/3#','#1/3#','#1/1#','#1/1#']"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="group" 
          data-basealign="slide" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;fb:10px;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 10; min-width: #1/3#px; max-width: #1/3#px; max-width: 360px; max-width: 360px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">
        <!-- LAYER NR. 7 -->
        <div class="tp-caption   tp-resizeme  disabled_lc tp-videolayer" 
           id="slide-420-layer-17" 
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-whitespace="nowrap"
     
          data-type="video" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-videocontrols="none" data-videowidth="100%" data-videoheight="360px" data-videoposter="//asmithdigital.github.io/my-fancy-slider/assets/images/vid2.jpg" data-videomp4="//asmithdigital.github.io/my-fancy-slider/assets/videos/vid2.mp4" data-noposteronmobile="off" data-videopreload="auto" data-videoloop="loop"			data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          data-autoplay="off" 
    
          style="z-index: 11;"> </div>
    
        <!-- LAYER NR. 8 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
           id="slide-420-layer-18" 
           data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                data-width="100%"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="shape" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":600,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":600,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          data-lasttriggerstate="reset"
          style="z-index: 12;font-family:Open Sans;background-color:rgba(45, 48, 50, 0.65);cursor:pointer;"> </div>
    
        <!-- LAYER NR. 9 -->
        <div class="tp-caption  " 
           id="slide-420-layer-19" 
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-width="['300','240','480','320']"
          data-height="none"
          data-whitespace="normal"
     
          data-type="text" 
          data-basealign="slide" 
          data-responsive_offset="off" 
          data-responsive="off"
          data-frames='[{"delay":"+0","speed":600,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['center','center','center','center']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 13; min-width: 300px; max-width: 300px; white-space: normal; font-size: 30px; line-height: 30px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Poppins;cursor:pointer;">Join Millions<br/><span style="font-size:17px;opacity:0.65;font-weight:400;">using the best content solution</span> </div>
    
        <!-- LAYER NR. 10 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
           id="slide-420-layer-20" 
           data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                data-width="100%"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="shape" 
          data-actions='[{"event":"mouseenter","action":"playvideo","layer":"slide-420-layer-17","delay":""},{"event":"mouseleave","action":"stopvideo","layer":"slide-420-layer-17","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slide-420-layer-18","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slide-420-layer-18","delay":""}]'
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 14;font-family:Open Sans;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 0);cursor:pointer;"> </div>
        </div>
    
        <!-- LAYER NR. 11 -->
        <div class="tp-caption   tp-resizeme   rev_group" 
           id="slide-420-layer-22" 
           data-x="['right','right','left','left']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','720','720']" 
                data-width="['#1/3#','#1/3#','#1/1#','#1/1#']"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="group" 
          data-basealign="slide" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;fb:10px;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 15; min-width: #1/3#px; max-width: #1/3#px; max-width: 360px; max-width: 360px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">
        <!-- LAYER NR. 12 -->
        <div class="tp-caption   tp-resizeme  disabled_lc tp-videolayer" 
           id="slide-420-layer-23" 
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-whitespace="nowrap"
     
          data-type="video" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-videocontrols="none" data-videowidth="100%" data-videoheight="360px" data-videoposter="//asmithdigital.github.io/my-fancy-slider/assets/images/vid3.jpg" data-videomp4="//asmithdigital.github.io/my-fancy-slider/assets/videos/vid3.mp4" data-noposteronmobile="off" data-videopreload="auto" data-videoloop="loop"			data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          data-autoplay="off" 
    
          style="z-index: 16;"> </div>
    
        <!-- LAYER NR. 13 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
           id="slide-420-layer-24" 
           data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                data-width="100%"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="shape" 
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":600,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":600,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          data-lasttriggerstate="reset"
          style="z-index: 17;font-family:Open Sans;background-color:rgba(45, 48, 50, 0.65);cursor:pointer;"> </div>
    
        <!-- LAYER NR. 14 -->
        <div class="tp-caption  " 
           id="slide-420-layer-25" 
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
           data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-width="['300','240','480','320']"
          data-height="none"
          data-whitespace="normal"
     
          data-type="text" 
          data-basealign="slide" 
          data-responsive_offset="off" 
          data-responsive="off"
          data-frames='[{"delay":"+0","speed":600,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['center','center','center','center']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 18; min-width: 300px; max-width: 300px; white-space: normal; font-size: 30px; line-height: 30px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Poppins;cursor:pointer;">Get Started Now<br/><span style="font-size:17px;opacity:0.65;font-weight:400;">and install slider templates</span> </div>
    
        <!-- LAYER NR. 15 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
           id="slide-420-layer-26" 
           data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
           data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                data-width="100%"
          data-height="360"
          data-whitespace="nowrap"
     
          data-type="shape" 
          data-actions='[{"event":"mouseenter","action":"playvideo","layer":"slide-420-layer-23","delay":""},{"event":"mouseleave","action":"stopvideo","layer":"slide-420-layer-23","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slide-420-layer-24","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slide-420-layer-24","delay":""}]'
          data-responsive_offset="on" 
    
          data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
          data-margintop="[0,0,0,0]"
          data-marginright="[0,0,0,0]"
          data-marginbottom="[0,0,0,0]"
          data-marginleft="[0,0,0,0]"
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
    
          style="z-index: 19;font-family:Open Sans;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 0);cursor:pointer;"> </div>
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
    </div><!-- END REVOLUTION SLIDER -->
