{{!-- COUNTDOWN --}}
		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
      data-x="center" data-hoffset="['0','-20','0','15']" 
      data-y="['top','top','top','top']" data-voffset="['450','380','380','220']" 
      data-fontsize="['100','75','50','30']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 

			data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"x:left;rX:45deg;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="screen"

			style="z-index: 8; min-width: 300px; max-width: 300px; white-space: nowrap; font-weight: 600; color: rgba(138, 43, 255, 1.00);font-family:Poppins;letter-spacing:-5px;display: inline-block;" 
			id="t_days">00 </div> 

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
      data-x="center" data-hoffset="['270','200','150','115']" 
      data-y="['top','top','top','top']" data-voffset="['450','380','380','220']" 
      data-fontsize="['100','75','50','30']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1200,"speed":2000,"frame":"0","from":"x:left;rX:45deg;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="screen"

			style="z-index: 9; min-width: 300px; max-width: 300px; white-space: nowrap; font-weight: 600; color: rgba(138, 43, 255, 1.00);font-family:Poppins;letter-spacing:-5px;display: inline-block;" 
			id="t_hourss">00 </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
      data-x="center" data-hoffset="['540','420','300','215']" 
      data-y="['top','top','top','top']" data-voffset="['450','380','380','220']" 
      data-fontsize="['100','75','50','30']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"x:left;rX:45deg;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="screen"

			style="z-index: 10; min-width: 300px; max-width: 300px; white-space: nowrap; font-weight: 600; color: rgba(138, 43, 255, 1.00);font-family:Poppins;letter-spacing:-2px;display: inline-block;" 
			id="t_minutes">00 </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
      data-x="center" data-hoffset="['830','640','450','315']" 
      data-y="['top','top','top','top']" data-voffset="['450','380','380','220']" 
      data-fontsize="['100','75','50','30']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":600,"speed":2000,"frame":"0","from":"x:left;rX:45deg;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="screen"

			style="z-index: 11; min-width: 300px; max-width: 300px; white-space: nowrap; font-weight: 600; color: rgba(138, 43, 255, 1.00);font-family:Poppins;letter-spacing:-2px;display: inline-block;" 
			id="t_seconds">00 </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
      id="slide-414-layer-6" 
      data-x="center" data-hoffset="['0','-20','0','15']" 
      data-y="['top','top','top','top']" data-voffset="['520','460','460','300']" 
      data-fontsize="['25','25','20','15']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"x:left;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12; min-width: 300px; max-width: 300px; white-space: nowrap; font-size: 25px; line-height: 25px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Poppins;display: inline-block;">DAYS </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption   tp-resizeme" 
      id="slide-414-layer-9" 
      data-x="center" data-hoffset="['270','200','150','115']" 
      data-y="['top','top','top','top']" data-voffset="['520','460','460','300']" 
      data-fontsize="['25','25','20','15']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1300,"speed":2000,"frame":"0","from":"x:left;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 13; min-width: 300px; max-width: 300px; white-space: nowrap; font-size: 25px; line-height: 25px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Poppins;display: inline-block;">HOURS </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption   tp-resizeme" 
      id="slide-414-layer-11" 
      data-x="center" data-hoffset="['540','420','301','215']" 
      data-y="['top','top','top','top']" data-voffset="['520','460','460','300']" 
      data-fontsize="['25','25','20','15']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:left;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 14; min-width: 300px; max-width: 300px; white-space: nowrap; font-size: 25px; line-height: 25px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Poppins;display: inline-block;">MINUTES </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption   tp-resizeme" 
      id="slide-414-layer-13" 
      data-x="center" data-hoffset="['830','640','450','315']" 
      data-y="['top','top','top','top']" data-voffset="['520','460','460','300']" 
      data-fontsize="['25','25','20','15']"
			data-width="25%"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"x:left;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 15; min-width: 300px; max-width: 300px; white-space: nowrap; font-size: 25px; line-height: 25px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Poppins;display: inline-block;">SECONDS </div>
			{{!-- / COUNTDOWN --}}


      {{!-- ALT COUNTDOWN --}}
      {{!-- <div class="tp-caption  tp-resizeme" 
			 id="t_days" 
			 data-x="['center','center','center','center']" data-hoffset="['-180','-180','-180','-120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3000,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">00 </div>

			<!-- LAYER NR. 6 -->
		<div class="tp-caption tp-resizeme" 
			 id="slider-477-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-180','-180','-180','-120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">days </div>

				<!-- LAYER NR. 7 -->
		<div class="tp-caption ComingSoon-Count   tp-resizeme " 
			 id="t_hours" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','-60','-60','-39']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3150,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">12 </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption ComingSoon-CountUnit   tp-resizeme " 
			 id="slider-477-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','-60','-60','-40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">hours </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption ComingSoon-Count   tp-resizeme " 
			 id="t_minutes" 
			 data-x="['center','center','center','center']" data-hoffset="['60','60','60','40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3300,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 13; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">54 </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption ComingSoon-CountUnit   tp-resizeme " 
			 id="slider-477-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['60','60','60','40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3300,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 14; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">minutes </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption ComingSoon-Count   tp-resizeme " 
			 id="t_seconds" 
			 data-x="['center','center','center','center']" data-hoffset="['180','180','180','120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3450,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 15; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">04 </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption ComingSoon-CountUnit   tp-resizeme " 
			 id="slider-477-layer-10" 
			 data-x="['center','center','center','center']" data-hoffset="['180','180','180','120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3450,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 16; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;">seconds </div> --}}
      {{!-- / ALT COUNTDOWN --}}