{{!-- SOCIAL --}}
		<!-- LAYER NR. 12 -->
		<a class="tp-caption   tp-resizeme js-hide-icon" 
	 href="#0"			 id="slide-414-layer-16" 
			 data-x="['right','right','right','right']" data-hoffset="['100','50','50','30']" 
			 data-y="['top','top','top','top']" data-voffset="['100','100','50','30']" 
						data-width="60"
			data-height="60"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-actions=''
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(59, 89, 152, 1.00);bc:rgba(59, 89, 152, 1.00);"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 16; min-width: 60px; max-width: 60px; max-width: 60px; max-width: 60px; white-space: nowrap; font-size: 20px; line-height: 60px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px 2px 2px 2px;border-radius:50% 50% 50% 50%;cursor:pointer;"><i class="fa-icon-facebook-f"></i> </a>

		<!-- LAYER NR. 13 -->
		<a class="tp-caption   tp-resizeme js-hide-icon" 
 		href="#0"			 id="slide-414-layer-17" 
			 data-x="['right','right','right','right']" data-hoffset="['170','120','120','100']" 
			 data-y="['top','top','top','top']" data-voffset="['100','100','50','30']" 
						data-width="60"
			data-height="60"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-actions=''
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(85, 172, 238, 1.00);bc:rgba(85, 172, 238, 1.00);"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 17; min-width: 60px; max-width: 60px; max-width: 60px; max-width: 60px; white-space: nowrap; font-size: 20px; line-height: 60px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px 2px 2px 2px;border-radius:50% 50% 50% 50%;cursor:pointer;"><i class="fa-icon-twitter"></i> </a>

		<!-- LAYER NR. 14 -->
		<a class="tp-caption   tp-resizeme js-hide-icon" 
		 href="#0"			 id="slide-414-layer-18" 
			 data-x="['right','right','right','right']" data-hoffset="['240','190','190','170']" 
			 data-y="['top','top','top','top']" data-voffset="['100','100','50','30']" 
						data-width="60"
			data-height="60"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-actions=''
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(221, 75, 57, 1.00);bc:rgba(221, 75, 57, 1.00);"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 18; min-width: 60px; max-width: 60px; max-width: 60px; max-width: 60px; white-space: nowrap; font-size: 20px; line-height: 60px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px 2px 2px 2px;border-radius:50% 50% 50% 50%;cursor:pointer;"><i class="fa-icon-google-plus"></i> </a>

			{{!-- / SOCIAL --}}
      