<!-- IMAGE AND TEXT SLIDE -->
<li data-transition="fade" data-slideindex="front">
    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
    {{!-- <img src="//styleguide-v2.adelaide.edu.au/assets/img/dummy.png"  alt="" 
      data-lazyload="//styleguide-v2.adelaide.edu.au/assets/img/notgeneric_bg3.jpg" 
      data-bgposition="center bottom" 
      data-bgfit="cover" 
      data-bgrepeat="no-repeat" 
      data-bgparallax="15"
      class="rev-slidebg" data-no-retina> --}}

		{{!-- ROW WRAPPER --}}
		<div id="rrzt_416" class="rev_row_zone rev_row_zone_top" style="z-index: 6;">

			<!-- ROW -->
			<div class="tp-caption  " 
				id="slide-416-layer-18" 
				data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
				data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"
	
				data-type="row" 
				data-columnbreak="2" 
				data-responsive_offset="on" 
				data-responsive="off"
				data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">

			<!-- COLUMN -->
			<div class="tp-caption  " 
				id="slide-416-layer-29" 
				data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
				data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"
	
				data-type="column" 
				data-responsive_offset="on" 
				data-responsive="off"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-columnwidth="75%"
				data-margintop="[0,0,0,0]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="center"
				data-paddingtop="[27,27,0,0]"
				data-paddingright="[20,20,0,0]"
				data-paddingbottom="[27,27,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 10; width: 100%;">
		
				<!-- LAYER NR. 6 -->
				<a class="tp-caption niceclean_menu    tp-rs-menulink" 
		href="#welcome" target="_self"			 id="slide-416-layer-22" 
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
					data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
								data-fontsize="['17','17','13','15']"
					data-width="none"
					data-height="none"
					data-whitespace="normal"
					data-visibility="['on','on','on','off']"
		
					data-type="text" 
					data-actions=''
					data-responsive_offset="off" 
					data-responsive="off"
					data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);br:0px 0px 0px 0px;"}]'
					data-margintop="[3,3,0,0]"
					data-marginright="[15,10,10,5]"
					data-marginbottom="[0,0,0,0]"
					data-marginleft="[15,10,10,5]"
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 11; white-space: normal; line-height: 30px; font-weight: 500; color: rgba(255, 255, 255, 0.65); display: inline-block;font-family:Poppins;border-color:rgba(255, 255, 255, 0);border-width:0px 0px 2px 0px;cursor:pointer;text-decoration: none;">Welcome </a>

				<!-- LAYER NR. 7 -->
				<a class="tp-caption niceclean_menu    tp-rs-menulink" 
		href="#about" target="_self"			 id="slide-416-layer-36" 
					data-x="['left','left','left','left']" data-hoffset="['5','0','0','0']" 
					data-y="['top','top','top','top']" data-voffset="['5','0','0','0']" 
								data-fontsize="['17','17','13','15']"
					data-width="none"
					data-height="none"
					data-whitespace="normal"
					data-visibility="['on','on','on','off']"
		
					data-type="text" 
					data-actions=''
					data-responsive_offset="off" 
					data-responsive="off"
					data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);br:0px 0px 0px 0px;"}]'
					data-margintop="[3,3,0,0]"
					data-marginright="[15,10,10,5]"
					data-marginbottom="[0,0,0,0]"
					data-marginleft="[15,10,10,5]"
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 12; white-space: normal; line-height: 30px; font-weight: 500; color: rgba(255, 255, 255, 0.65); display: inline-block;font-family:Poppins;border-color:rgba(255, 255, 255, 0);border-width:0px 0px 2px 0px;cursor:pointer;text-decoration: none;">About </a>

				<!-- LAYER NR. 8 -->
				<a class="tp-caption niceclean_menu    tp-rs-menulink" 
		href="#video" target="_self"			 id="slide-416-layer-42" 
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
					data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
								data-fontsize="['17','17','13','15']"
					data-width="none"
					data-height="none"
					data-whitespace="normal"
					data-visibility="['on','on','on','off']"
		
					data-type="text" 
					data-actions=''
					data-responsive_offset="off" 
					data-responsive="off"
					data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);br:0px 0px 0px 0px;"}]'
					data-margintop="[3,3,0,0]"
					data-marginright="[15,10,10,5]"
					data-marginbottom="[0,0,0,0]"
					data-marginleft="[15,10,10,5]"
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 15; white-space: normal; line-height: 30px; font-weight: 500; color: rgba(255, 255, 255, 0.65); display: inline-block;font-family:Poppins;border-color:rgba(255, 255, 255, 0);border-width:0px 0px 2px 0px;cursor:pointer;text-decoration: none;">Video </a>

				<!-- LAYER NR. 9 -->
				<a class="tp-caption niceclean_menu    tp-rs-menulink" 
		href="#services" target="_self"			 id="slide-416-layer-43" 
					data-x="['left','left','left','left']" data-hoffset="['5','0','0','0']" 
					data-y="['top','top','top','top']" data-voffset="['5','0','0','0']" 
								data-fontsize="['17','17','13','15']"
					data-width="none"
					data-height="none"
					data-whitespace="normal"
					data-visibility="['on','on','on','off']"
		
					data-type="text" 
					data-actions=''
					data-responsive_offset="off" 
					data-responsive="off"
					data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);br:0px 0px 0px 0px;"}]'
					data-margintop="[3,3,0,0]"
					data-marginright="[15,10,10,5]"
					data-marginbottom="[0,0,0,0]"
					data-marginleft="[15,10,10,5]"
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 16; white-space: normal; line-height: 30px; font-weight: 500; color: rgba(255, 255, 255, 0.65); display: inline-block;font-family:Poppins;border-color:rgba(255, 255, 255, 0);border-width:0px 0px 2px 0px;cursor:pointer;text-decoration: none;">Services </a>

				</div>
				{{!-- COLUMN --}}
			</div> {{!-- ROW --}}
		</div> {{!-- ROW WRAPPER --}}


    <!-- TEXT LAYER -->
    <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
      data-x="center" 
      data-y="center" 
			data-fontsize="['100','100','50','50']"
			data-lineheight="['100','100','50','50']"
      data-hoffset="0" 
      data-voffset="-80" 
      data-width="auto" 
      data-height="auto"
			data-responsive_offset="on"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="font-size:80px;line-height:85px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
      >Seize the Open Day</div>
      <!-- TEXT LAYER -->
    <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
      data-x="center" 
      data-y="center" 
      data-hoffset="0" 
      data-voffset="0" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="font-size:36px;line-height:40px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
      >Sunday 18 August 2019</div>
    
    	<!-- BUTTON LAYERS -->
      <div class="tp-caption tp-resizeme rs-parallaxlevel-8"
      data-x="center" 
      data-y="center" 
      data-hoffset="['-245','-100','0','0']" 
			data-voffset="['80','80','80','80']" 
      data-width="auto" 
      data-height="auto"
			{{!-- data-responsive_offset="on" --}}
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="">
			<a href="#timetable" target="_self" class="mdc-button mdc-button--outlined ua-button-outlined--inverse js-smooth-scroll">Timetable</a>
			</div>
			<div class="tp-caption tp-resizeme rs-parallaxlevel-8"
      data-x="center" 
      data-y="center" 
      data-hoffset="['-100','100','0','0']" 
			data-voffset="['80','80','80','80']" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="">
			<a href="#plan" target="_self" class="mdc-button mdc-button--outlined ua-button-outlined--inverse js-smooth-scroll">Plan your day</a>
			</div>
			<div class="tp-caption tp-resizeme rs-parallaxlevel-8"
      data-x="center" 
      data-y="center" 
      data-hoffset="['80','-100','0','0']" 
			data-voffset="['80','120','80','80']" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="">
			<a href="#social" target="_self" class="mdc-button mdc-button--outlined ua-button-outlined--inverse js-smooth-scroll">Get Social to Win</a>
			</div>
			<div class="tp-caption tp-resizeme rs-parallaxlevel-8"
      data-x="center" 
      data-y="center" 
      data-hoffset="['290','100','0','0']" 
			data-voffset="['80','120','80','80']" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="">
			<a href="#download" target="_self" class="mdc-button mdc-button--outlined ua-button-outlined--inverse js-smooth-scroll">Download Brochure</a>
			</div>


      {{!-- <a href="#plan" target="_self" class="tp-caption tp-resizeme mdc-button mdc-button--outlined ua-button-outlined--inverse rs-parallaxlevel-8 js-smooth-scroll"
      data-x="center" 
      data-y="center" 
      data-hoffset="-100" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="display: static;"
      >Plan your day</a>
      <a href="#social" target="_self" class="tp-caption tp-resizeme mdc-button mdc-button--outlined ua-button-outlined--inverse rs-parallaxlevel-8 js-smooth-scroll"
      data-x="center" 
      data-y="center" 
      data-hoffset="80" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="display: static;"
      >Get Social to Win</a>
      <a href="#download" target="_self" class="tp-caption tp-resizeme mdc-button mdc-button--outlined ua-button-outlined--inverse rs-parallaxlevel-8 js-smooth-scroll"
      data-x="center" 
      data-y="center" 
      data-hoffset="290" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="display: static;"
      >Download Brochure</a> --}}

      {{!-- Count down layers --}}
      {{!-- <div class="tp-caption  tp-resizeme rs-parallaxlevel-8" 
			 id="t_days" 
			 data-x="['center','center','center','center']" data-hoffset="['-180','-180','-180','-120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3000,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">00 </div>

			<!-- LAYER NR. 6 -->
		<div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
			 id="slider-477-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-180','-180','-180','-120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['192','192','192','142']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">days </div>

				<!-- LAYER NR. 7 -->
		<div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
			 id="t_hours" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','-60','-60','-39']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3150,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">12 </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
			 id="slider-477-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','-60','-60','-40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['192','192','192','142']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">hours </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
			 id="t_minutes" 
			 data-x="['center','center','center','center']" data-hoffset="['60','60','60','40']" 
			data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3300,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 13; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">54 </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
			 id="slider-477-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['60','60','60','40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['192','192','192','142']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3300,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 14; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">minutes </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
			 id="t_seconds" 
			 data-x="['center','center','center','center']" data-hoffset="['180','180','180','120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":3450,"ease":"Back.easeOut"},{"delay":"wait","speed":400,"to":"auto:auto;","ease":"Back.easeIn"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 15; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">04 </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
			 id="slider-477-layer-10" 
			 data-x="['center','center','center','center']" data-hoffset="['180','180','180','120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['192','192','192','142']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":3450,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 16; min-width: 120px; max-width: 120px; white-space: nowrap;text-transform:left;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;">seconds </div> --}}
      {{!-- Count down layers --}}

      {{#unless standard-slider}}
      {{> slider-scrollbelow}}
      {{/unless}}
  </li>
  